@media (min-width : 650px) and (max-width:900px) {
    .nav {
        width: auto;
        height: 8vh;
    }

    .nav .image {
        width: 10%;
    }

    .nav .submenu {
        display: none;
    }

    .nav .icon {
        position: absolute;
        display: block;
        top: 22%;
        right: 5%;
    }

    .list ul li {
        display: block;
        font-size: 22px;
        background-color: lightgray;
        padding: 1% 0%;
        margin-left: 80%;
        font-weight: 700;
    }
    .list ul {
        display: none;
    }
}

@media(max-width:650px) {
    .nav {
        width: auto;
        height: 8vh;
    }

    .nav .image {
        width: 15%;
    }

    .nav .submenu {
        display: none;
    }

    .nav .icon {
        position: absolute;
        display: block;
        top: 22%;
        right: 5%;
    }

    .list ul li {
        display: block;
        font-size: 22px;
        background-color: lightgray;
        padding: 1% 0%;
        margin-left: 1.5%;
        font-weight: 700;
    }

    .list ul {
        display: none;
    }

}