/* Responsive styling */
@media (max-width: 550px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 65px;
        left: 0;
    }

    .navbar-menu li {
        margin: 15px 0;
        text-align: center;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-menu.active {
        display: flex;
    }
}

@media (min-width : 551px) and (max-width:900px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #2d437b;
        position: absolute;
        top: 65px;
        left: 0;
    }
    .navbar{
        background-color: #2d437b;
    }

    .navbar-menu li {
        margin: 15px ;
        text-align: left;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-menu.active {
        display: flex;
    }
}