.main {
    height: 550px;
    width: 80%;
    background-color: black;
    display: flex;
    position: relative;
    overflow: hidden;
}


.main .con {
    height: 180px;
    width: 180px;
}

.box1 {
    position: absolute;
    top: 200px;
    left: 10px;
    background-color: aqua;
}

.box2 {
    position: absolute;
    top: 200px;
    left: 230px;
    background-color: brown;
}

.box3 {
    position: absolute;
    width: 200px !important;
    height: 200px !important;
    top: 200px;
    left: 510px;
    background-color: yellowgreen;
}

.box4 {
    position: absolute;
    top: 200px;
    right: 230px;
    background-color: rebeccapurple;
}

.box5 {
    position: absolute;
    top: 200px;
    right: 10px;
    background-color: chocolate;
}
.main .text1 {
    color: white;
    font-size: 32px;
    /* border: 1px solid white; */
    height: auto;
    width: 400px;
    position: absolute;
    top: 20px;
    left: 38%;
}

.main .text2 {
    color: gray;
    font-size: 15px;
    /* border: 1px solid white; */
    height: auto;
    width: 400px;
    position: absolute;
    top: 100px;
    left: 45%;
}

.fa-backward {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 450px;
    left: 400px;
}

.fa-forward {
    color: white;
    position: absolute;
    font-size: 35px;
    top: 450px;
    left: 800px;
}