.main{
    width: 85vw;
    height: 83vh;
    border: 2px solid red;
    position: relative;
}
.image-1{
    position: absolute;
    height: 100%;
    width: 100%;
    filter: brightness(25%);
}
.main svg{
    position: absolute;
    top: 193px;
    filter: opacity(0.8);
}
.box {
    width: 100%;
    height: 100px;
    background-color: rgb(137, 77, 73);
    filter: opacity(0.8);
    position: absolute;
    bottom: 0;
}
.text{
    position: absolute;
    color: white;
}
.text h1{
    margin-top: 100px;
    margin-left: 580px;
}
.text p{
    margin-left: 500px;
}
.text .image{
    position: absolute;
    width: 40px;
    height: 40px;
}
.text .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid orangered;
}
.text .i-1{
    top: 370px;
    left: 200px;
}
.text .i-2{
    height: 60px;
    width: 50px;
    top: 310px;
    left: 400px;
}
.text .i-2 img{
    border: 2px solid orangered;
}
.text .i-3{
    top: 300px;
    left: 610px;
}
.text .i-4{
    top: 330px;
    left: 870px;
}
.text .i-5{
    top: 310px;
    left: 1100px;
}
.i-2 h2{
    position: absolute;
    top: 95px;
    width: 180px;
    height: auto;
    font-size: 20px;
    right:  -75px;
    color: orangered;
}
.i-2 span{
    position: absolute;
    top: 150px;
    right: -90px;
    width: 180px;
    height: auto;
    font-size: 18px;
}
.i-2 .line{
    position: absolute;
    height: 40px;
    top: 65px;
    right: 20px;
    border-right: 1px solid lightcoral;
}