.main{
    height: 97vh;
    width: 80vw;
    margin: auto;
    background-color: lightgray;
}
.content{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}
.item{
    margin: 10px;
    width: 30%;
    height: 90%;
    border: 1px solid gray ;
}
.text-1{
    width: 100%;
    height: 55%;
    background-color:gray;
    color: white;
    text-align: center;
    line-height: 6;
    font-size: 30px;
}
.text-2{
    width: 100%;
    height: 45%;
}
.text-2 p{
    margin: 7px 15px;
    font-size: 18px;
}
.text-2 span{
    border: 1px solid;
   padding: 0px 9px;
   font-size: 22px;
   margin-left:4px ;
}