* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007bff;
    padding: 10px 20px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
}

.nav-item {
    position: relative;
    margin-left: 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}

.nav-item a:hover {
    background-color: #0056b3;
}

.dropdown-content a:hover {
    background-color: #0056b3;
}

.dropdown-more-content a:hover {
    background-color: #0056b3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #007bff;
    min-width: 150px;
    z-index: 1;
}

.dropdown-more-content {
    display: none;
    position: absolute;
    background-color: #007bff;
    min-width: 150px;
    z-index: 1;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-more:hover .dropdown-more-content {
    display: block;
}

.dropdown-content a {
    padding: 10px;
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown-more-content a {
    padding: 10px;
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown-more {
    position: relative;
}

.dropdown-more-content {
    left: 100%;
    top: 0;
}