.main {
    padding: 0;
    margin: 0;
    height: 97xvh;
    width: auto;
    position: relative;
}

.nav {
    display: flex;
    /* flex-direction: row; */
    background-color: blue;
    height: 60px;
}

.menu {
    color: #fff;
    font-size: 26px;
    display: flex;
    margin-top: 10px;
    margin-left: 735px;
    gap: 20px;
}

.menu button {
    width: 85px;
    padding: 5px;
    font-size: 20px;
    border: none;
}

.logo img {
    margin-left: 80px;
    height: 60px;
}

.menu1 {
    width: 115px;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    line-height: 40px;
    font-size: 18px;
    background-color: rgb(5, 5, 247);
}

.menu1 div {
    border-bottom: 1px solid #fff;
}

.menu2 {
    position: absolute;
    height: auto;
    width: 100px;
    font-size: 17px;
    background-color: blue;
    top: 170px;
    left: 1158px;
}

.menu2 p {
    text-align: left;
    padding: 0 10px;
    height: 20px;
}

.service .menu1 {
    display: none;
}

.service:hover {
    background-color: darkblue;
}

.menu1 .more:hover {
    background-color: darkblue;
}

.service:hover .menu1 {
    display: block;
}

.menu2 {
    display: none;
}

.menu1 .more:hover .menu2 {
    display: block;
}